@import '../../style/mediascreen.scss';
.main-page {
  img {
    color: rgba(255, 255, 255, 0);
    text-indent: -9999px;
  }
  .main {
    padding: 170px 100px;
    .main_article {
      .main_article_section {
        .tittle {
          margin-left: 100px;
          color: rgb(255, 121, 42);
          font-size: 1.438rem;
        }
        .list {
          margin: 50px auto 0;
          ul {
            display: flex;
            position: relative;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            li {
              position: relative;
              width: 30vw;
              padding: 30px;

              .item_text {
                width: 81%;
                position: absolute;
                color: white;
                top: 50%;
                font-size: 1.8rem;
                text-shadow: 6px 6px 16px rgba(0, 0, 0, 1);
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              img {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (min-width: $media_main_min_width1024) {
    .main {
      .main_article {
        .main_article_section {
          .tittle {
            margin-left: 13%;
            // background-color: red;
            color: rgb(255, 121, 42);
            font-size: 1.438rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $media_main_max_width769) {
    .main {
      padding: 170px 100px;
      .main_article {
        .main_article_section {
          .tittle {
            margin-left: 15%;
            color: rgb(255, 121, 42);
            font-size: 1.438rem;
          }
          .list {
            margin: 50px auto 0;
            ul {
              display: flex;
              position: relative;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              li {
                position: relative;
                width: 60vw;
                padding: 30px;

                .item_text {
                  width: 81%;
                  position: absolute;
                  color: white;
                  top: 50%;
                  font-size: 1.8rem;
                  text-shadow: 6px 6px 16px rgba(0, 0, 0, 1);
                  text-align: center;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                img {
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.1);
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: $media_main_max_width500) {
    .main {
      padding: 170px 100px;
      .main_article {
        .main_article_section {
          .tittle {
            margin-left: 50px;
            color: rgb(255, 121, 42);
            font-size: 1.438rem;
          }
          .list {
            margin: 50px auto 0;
            ul {
              display: flex;
              position: relative;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-evenly;
              li {
                position: relative;
                width: 60vw;
                padding: 30px;

                .item_text {
                  width: 81%;
                  position: absolute;
                  color: white;
                  top: 50%;
                  font-size: 1.8rem;
                  text-shadow: 6px 6px 16px rgba(0, 0, 0, 1);
                  text-align: center;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                img {
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.1);
                }
              }
            }
          }
        }
      }
    }
  }
}
