@import '../../style/mediascreen.scss';

.footer {
  margin-top: 60px;
  position: relative;
  background-color: #3e3e3e;
  .footer_inner {
    position: relative;
    margin: 0 auto;
    min-height: 430px;
    padding-top: 65px;
    padding-left: 15px;
    .footer_logo {
      display: inline-block;
      margin-right: 168px;
      vertical-align: top;
      .footer_logo_a {
        display: block;
        img {
          width: 100%;
        }
      }
      .subtitle {
        display: block;
        position: relative;
        margin-top: 28px;
        padding-top: 15px;
        font-size: 0.875rem;
        color: #6a6a6a;
        ::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 1px;
          width: 30px;
        }
      }
    }
    .nav {
      display: inline-block;
      width: 614px;
      margin-bottom: 10px;
      overflow: hidden;
      .nav_list {
        float: left;
        li {
          display: block;
          width: 307px;
          a {
            color: #9b9b9b;
            font-size: 1rem;
            line-height: 35px;
          }
          .bold {
            font-weight: bolder;
            color: #d2d2d2;
          }
        }
      }
    }
    .team_wrap {
      padding-top: 15px;
      border-top: 1px solid #6a6a6a;
      color: #9b9b9b;
      .team_info {
        font-size: 15px;
        line-height: 23px;
        word-break: break-all;
        word-break: keep-all;
        .keyword {
          color: #9b9b9b;
        }
      }
    }
  }
}
@media only screen and (max-width: $break-tablet) {
  .footer {
    position: relative;
    background-color: #3e3e3e;
    .footer_inner {
      position: relative;
      margin: 0 auto;
      min-height: 430px;
      padding-top: 65px;
      padding-left: 15px;
      .footer_logo {
        display: inline-block;
        margin-right: 155px;
        vertical-align: top;
        .footer_logo_a {
          display: inline-block;
          img {
            width: 100%;
          }
        }
        .subtitle {
          display: block;
          position: relative;
          margin-top: 28px;
          padding-top: 15px;
          font-size: 0.875rem;
          color: #6a6a6a;
          ::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 30px;
          }
        }
      }
      .nav {
        display: inline-block;
        width: 350px;
        margin-bottom: 10px;
        overflow: hidden;
        .nav_list {
          float: left;
          width: 350px;
          li {
            display: inline-block;
            width: 210px;
            a {
              color: #9b9b9b;
              font-size: 1rem;
              line-height: 35px;
            }
            .bold {
              font-weight: bolder;
              color: #d2d2d2;
            }
          }
        }
      }
      .team_wrap {
        padding-top: 15px;
        border-top: 1px solid #6a6a6a;
        color: #9b9b9b;
        .team_info {
          font-size: 15px;
          line-height: 23px;
          word-break: break-all;
          word-break: keep-all;
          .keyword {
            color: #9b9b9b;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: $break-phone) {
  .footer {
    position: relative;
    background-color: #3e3e3e;
    .footer_inner {
      position: relative;
      margin: 0 auto;
      min-height: 430px;
      padding-top: 65px;
      padding-left: 15px;
      .footer_logo {
        display: inline-block;
        margin-right: 155px;
        vertical-align: top;
        .footer_logo_a {
          display: inline-block;
          img {
            width: 100%;
          }
        }
        .subtitle {
          display: block;
          position: relative;
          margin-top: 28px;
          padding-top: 15px;
          font-size: 0.875rem;
          color: #6a6a6a;
          ::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 30px;
          }
        }
      }
      .nav {
        display: inline-block;
        width: 350px;
        margin-bottom: 10px;
        overflow: hidden;
        .nav_list {
          float: left;
          width: 350px;
          li {
            display: inline-block;
            width: 210px;
            a {
              color: #9b9b9b;
              font-size: 1rem;
              line-height: 35px;
            }
            .bold {
              font-weight: bolder;
              color: #d2d2d2;
            }
          }
        }
      }
      .team_wrap {
        padding-top: 15px;
        border-top: 1px solid #6a6a6a;
        color: #9b9b9b;
        .team_info {
          font-size: 15px;
          line-height: 23px;
          word-break: break-all;
          word-break: keep-all;
          .keyword {
            color: #9b9b9b;
          }
        }
      }
    }
  }
}
