.detail_page {
  padding: 0 6px;

  .detail_wrapper {
    border: 3px solid red;
  }

  .detail_Photolist {
    width: 100%;
    height: 340px;
    border-bottom: solid 6px #fff;
    display: block;
    overflow: hidden;
    margin-top: 61px;
  }

  .photoList {
    opacity: 1;
    display: block;
    position: relative;
    width: 100%;
    left: 0px;
    overflow: hidden;
  }

  .detail_contentWrapper {
    display: flex;
    float: none;
  }

  .phtoList img {
    width: 300px;
  }
  .column_content {
    display: flex;
    flex-direction: column;
    // border: 2px solid green;
    line-height: 100%;
    margin-top: 20px;
    padding: 20px;
    //제일 큰 디브에 20 패딩주기
    width: 65%;
  }

  .column_aside {
    // background-color: #f6f6f6;
    // border: 1px solid greenyellow;
    width: 34%;
    padding: 20px;
  }

  .restaurant_header {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    min-height: 74px;
  }

  .res_titlewrap {
    display: flex;
  }

  .res_title {
    padding-right: 50px;
    max-width: 75%;
    line-height: 46px;
    font-size: 1.8rem;
  }
  .res_name {
    display: inline-block;
    max-width: 100%;
    word-break: break-all;
    font-weight: normal;
    margin-right: 8px;
  }
  .res_rate {
    color: #ff792a;
    font-weight: normal;
  }

  .branch {
    font-size: 1.1rem;
    color: #888;
    line-height: 1.2rem;
  }

  .res_button_wrap {
    display: flex;
    box-orient: horizontal;
    margin-left: auto;
  }

  .review_write_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-align: center;
    margin: 0 19px 0 0;
    border: 0px;
    background-color: transparent;
    box-sizing: border-box;
  }

  .wannago_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-align: center;
    border: 0px;
    background-color: transparent;
    box-sizing: border-box;
  }

  .icon_wannago,
  .icon_review {
    font-size: 30px;
    color: #9b9b9b;
    text-align: center;
    font-weight: 100;
    padding-top: 5px;
  }

  .review_write_txt,
  .wannago_txt {
    text-align: center;
    font-size: 0.8rem;
    color: #9b9b9b;
    line-height: 1.3;
    margin-top: 12px;
    word-break: keep-all;
  }

  .restaurant_subtitle {
    margin: 5px 0 10px;
    font-size: 0.8rem;
    color: #9b9b9b;
    display: flex;
  }

  .count {
    margin-right: 15px;
    justify-content: center;
  }

  .icon_eye {
    font-size: 19px;
    vertical-align: middle;
    margin: -4px 4px 0 0;
    display: inline-block;
  }

  .icon_pen {
    font-size: 12px;
    vertical-align: middle;
    margin: -4px 4px 0 0;
    display: inline-block;
  }

  .icon_star {
    font-size: 14px;
    vertical-align: middle;
    margin: -4px 4px 0 0;
    display: inline-block;
  }

  .res_into_table {
    padding: 20px 0px;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 100%;
  }

  tbody th {
    width: 120px;
    font-size: 0.9rem;
    color: rgba(79, 79, 79, 0.6);
    line-height: 1.7;
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 5px;
    font-weight: normal;
  }

  tbody td {
    font-size: 0.9rem;
    color: #4f4f4f;
    line-height: 1.7;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
    font-weight: normal;
  }

  .Res_Menulist {
    margin-right: 30px;
  }

  .Res_MenuPrice {
    margin-left: auto;
  }

  td a {
    color: black;
    text-decoration: underline;
  }

  .menuItem {
    box-orient: horizontal;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 4px;
  }

  .update_date {
    font-size: 13px;
    text-align: right;
    color: rgba(79, 79, 79, 0.6);
    line-height: 100%;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 20px;
  }
  // .review_write_btn {
  //   font-family: 'SpoqaHanSans', 'Noto Sans SC', 'APPLE SD Gothic NEO',
  //     'sans-serif';
  //   margin: 0 19px 0 0;
  //   cursor: pointer;
  //   border: 0;
  //   border-radius: 0;
  //   background-color: transparent;
  //   box-align: center;
  //   width: 60px;
  //   height: 60px;
  // }

  // i {
  //   font-style: italic;
  // }

  // .review_write_txt {
  //   font-size: 0.8rem;
  //   line-height: 1.3;
  //   color: #9b9b9b;
  //   width: 48px;
  // }

  // .wannago_wrap {
  //   cursor: pointer;
  //   display: inline-block;
  //   text-align: center;
  //   margin-right: 10px;
  // }

  // .wannago_btn {
  //   font-family: 'SpoqaHanSans', 'Noto Sans SC', 'APPLE SD Gothic NEO',
  //     'sans-serif';
  //   cursor: pointer;
  //   border: 0;
  //   border-radius: 0;
  //   background-color: transparent;
  //   box-align: center;
  //   width: 48px;
  //   height: 60px;
  // }

  // .wannago_icon {
  //   display: inline-block;
  //   text-indent: -9999px;
  //   vertical-align: center;
  //   background-image: url(./wannago_icon.png);
  //   width: 33px;
  //   height: 33px;
  //   margin-top: 0.5px;
  // }

  // .wannago_txt {
  //   color: #9b9b9b;
  //   font-size: 0.8rem;
  //   margin-top: 12px;
  //   width: 48px;
  // }
  .restaurant_Reviews {
    margin: 0 auto;
    width: 800px;
  }
  .user_Review_Wrap {
    display: block;
  }

  .user_Text {
    width: 100%;
    height: 108px;
  }

  .user_Review_BtnBox {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }

  .user_Review_Btn {
    background-color: #ff792a;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
  }

  .user_Review {
    width: 100%;
  }
  .restaurantRvHeader {
    margin-bottom: 14px;
    display: flex;
  }

  .restaurant_RvList_filterList {
    margin-left: auto;
    display: inherit;
  }
  .restaurant_RvList_filterItem {
    padding-right: 3px;
    font-size: 16px;
  }

  .restaurant_RvList_filterItem button {
    cursor: pointer;
    border: 0px;
    border-radius: 0;
    background-color: transparent;
    display: inline;
    color: #9b9b9b;
  }

  .restaurant_RvList_filterItem button:active {
    color: #ff792a;
  }

  .restaurant_RvList_filterItem::after {
    content: '|';
    margin: 0 7px;
    color: #9b9b9b;
  }

  button span {
    margin: 0;
  }

  .restaurantRvList {
    // border: 1px solid black;
    padding: 10px;
  }

  .icon_SmallPen {
    width: 9px;
    height: 8px;
  }
  .detail_map {
    width: 100%;
    cursor: pointer;
    border: 1px solid red;

    height: 328px;
    display: block;
  }

  .review_Item {
    position: relative;
    border-bottom: 1px solid #dbdbdb;
  }

  .review_Item_ReviewDate {
    font-size: 14px;
    color: #9b9b9b;
    margin-bottom: 20px;
    display: block;
  }

  .review_Item_ReviewText {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
    display: block;
  }

  .review_Item_User {
    display: flex;
    padding-bottom: 10px;
  }

  .review_Item_UserInfoWrap {
    display: flex;
    flex-direction: column;
    margin: 15px 35px 0 8px;
  }

  .review_Item_UserPicWrap {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #dbdbdb;
  }

  .review_Item_UserPic {
    width: 100%;
    opacity: 1;
  }

  .userReviewCount {
    margin-right: 2px;
    font-size: 10px;
    color: #cbcbcb;
    display: inline;
  }

  .review_Item_UserNickName {
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    word-break: break-all;
    color: #555555;
  }

  .review_Item_Content {
    width: 605px;
  }

  .near_Res_Item_PicAndContent {
    display: flex;
  }

  .near_Res_Item_Picwrapper {
    width: 103px;
    height: 103px;
  }

  .near_Res_Item_PicLink {
    width: 100%;
  }

  .near_Res_Item_Picwrapper img {
    width: 100%;
  }

  .near_Res_Item_Content {
    margin-left: 12px;
  }

  .near_Res_Item_NameLink {
    font-size: 18px;
    color: #555555;
  }

  .near_Res_Item_Rate {
    font-size: 19px;
    color: #e9e9e9;
    margin-left: 5px;
  }

  .review_Item_TextWrap {
    padding: 10px 0px;
  }

  .review_Item_Content p {
    color: black;
    word-break: break-all;
  }

  .review_Item_Rate {
    margin-left: auto;
  }

  .review_Item_RateText {
    font-size: 15px;
    color: #ff792a;
  }

  .tagWithRestaurant {
    margin-top: 20px;
  }

  ol,
  ul,
  li {
    list-style: none;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  .title_Review {
    font-size: 18px;
    line-height: 1.2;
    color: #4f4f4f;
    font-weight: normal;
  }

  .title_Review_count {
    color: #7f7f7f;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
  }

  .other_Res {
    width: 800px;
    margin: 0 auto;
  }
  .restaurant_detail {
    width: 800px;
    margin: 0 auto;
  }

  .near_Res {
    //   border: 1px solid green;
  }

  .near_Res_Title,
  .tag_Title {
    color: #ff792a;
    font-size: 1.65rem;
    font-weight: normal;
  }

  .near_Res_List {
    margin-top: 17px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .near_Res_Item {
    padding: 15px 10px;
    width: 100%;
    border-bottom: 1px solid #dbdbab;
  }

  .near_Res_Item_InfoList {
    margin-top: 5px;
  }

  .near_Res_Item_Info_Label {
    color: #9b9b9b;
    margin-right: 2px;
    font-size: 11px;
  }

  .near_Res_Item_Info_Value {
    color: #555555;
    font-size: 11px;
  }

  .tag_List {
    padding: 14px 0px;
    line-height: 30px;
    margin-top: 10px;
  }

  .tag_List a {
    border: 1px solid #cbcbcb;
    border-radius: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 5px;
    background-color: #fff;
    color: #6a6a6a;
  }

  .other_Res {
    border: 1px solid red;
  }

  .photoItem {
    width: 320px;
    height: 340px;
    float: left;
    border-right: 6px solid #fff;
    background-size: cover;
    display: block;
    position: relative;
    background-position: 50% 50%;
    min-width: 300px;
  }

  .res_button_wrap {
    display: inherit;
    margin-left: auto;
  }
}
